/* ==================== PROJECTS ==================== */
#myprojects {
    margin-top: 0px;
    margin-bottom: 0px; 
    scroll-margin-top: 5px;
}
.portfolio .portfolio-title {
    display: inline-block; 
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
    color: white;
    background-color: black;
    border-bottom: 2px solid gray;
    border-radius: 8px 8px 0 0;
    padding: 10px 15px;
    width: 30%; 
}        
.portfolio .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;     
}
.portfolio .portfolio-item {
    flex: 0 1 30%; 
    max-width: 30%; 
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
}
/* Agrandar imagen al hover */
.portfolio-item:hover img {
    transform: scale(1.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); 
}
.portfolio .portfolio-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 15px 25px rgba(225, 216, 216, 0.4); 
    background-color: rgba(255, 255, 255, 0.2); 
}
 .portfolio .portfolio-item:hover .content-holder {
    opacity: 1;
    visibility: visible;
} 
/* Contenido debajo de la imagen */
.content-holder {
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    margin-top: 10px; 
    position: relative;
    /* z-index: 2; */
}
/* Título del proyecto */
.content-holder .title {
    font-size: 1.2rem;
}
/* Descripción */
.content-holder p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}
/* Botones */
.content-holder .btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}
/* Estilos de los botones */
.demo-btn {
    background-color: rgb(50, 69, 178);
}
.demo-btn:hover {
    background-color: rgb(30, 49, 158);
    transform: scale(1.1);
}
.github-btn {
    background-color: rgb(40, 40, 40);
}
.github-btn:hover {
    background-color: rgb(60, 60, 60);
    transform: scale(1.1);
}

/* ==================== VIEW MORE BUTTON ==================== */
.view-more-btn {
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

.view-more-btn:hover {
    background-color:  rgb(60, 60, 60);
    transform: scale(1.1);
}
.tags {
  font-size: 0.8rem;
  color: #999;
  margin-top: 5px;
  margin-bottom: 5px;
}
